<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Kremylin!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/index.css") }}"/>
            <link href='https://fonts.googleapis.com/css?family=Mrs+Sheppards' rel='stylesheet' type='text/css'>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="js/lib/matter.js"></script>
            <script src="js/lib/jquery-3.2.1.min.js"></script>
            <script src="js/lib/Krem/Constants.js"></script>
            <script src="js/lib/Krem/BodyPartDNA.js"></script>
            <script src="js/lib/Krem/BodyPart.js"></script>
            <script src="js/lib/Krem/MuscleDNA.js"></script>
            <script src="js/lib/Krem/Muscle.js"></script>
            <script src="js/lib/Krem/BodyDNA.js"></script>
            <script src="js/lib/Krem/Body.js"></script>
            <script src="js/lib/Krem/Krem.js"></script>
            <script src="js/index.js"></script>
        {% endblock %}
    </body>
</html>
